@model GSI_M5_P1_13.Models.GuestBookModel

@{
    ViewData["Title"] = "DetailsGuest";
}

<h1>DetailsGuest</h1>

<div>
    <h4>GuestBookModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.provinsi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.provinsi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jenisKelamin)
        </dt>
        <dd class = "col-sm-10">
@*            @Html.DisplayFor(model => model.jenisKelamin)
*@            @if (Model.jenisKelamin == 0)
            {
                <text>Perempuan</text>
            }
            else
            {
                <text>Laki-laki</text>
            }

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tanggalLahir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tanggalLahir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pesan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pesan)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditGuest", new { id = Model.id }) |
    <a asp-action="ListGuest">Back to List</a>
</div>
